
    




<nav class="navbar navbar-expand-lg navbar-dark text-whithe bg-primary fixed-top">
        
        <div class="container">
 
             <a class="navbar-brand" href="/">RADIO AMOR ONLINE</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

             

             <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav ml-5">
                     <li class="nav-item active">
                         <a class="nav-link" href="/"> <i class="fas fa-home"></i> INICIO</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/nosotros"> <i class="fas fa-building"></i> QUIENES SOMOS </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/contact"> <i class="fas fa-envelope"></i> CONTACTOS</a>
                     </li>
                     
                 </ul>
             </div>

             <audio src="http://181.131.149.207:5400/stream" controls></audio>
 
        </div>
 
     </nav>

     

     


     